/* Global Part Start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
  background: #d1d1d1;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 30px 0;
}
main .container {
  background: white;
  border-radius: 15px;
}

a {
  text-decoration: none;
  outline: none;
}

h3 {
  font-size: 24px;
}

img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.section-title {
  color: #562eff;
  padding: 40px;
  font-size: 33px;
}
.row {
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 40px;
  padding-bottom: 30px;
}
/* header part start  */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 48px;
  margin-right: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin-left: 50px;
}
nav ul li img {
  width: 70px;
}
nav ul li a {
  color: white;
  display: inline-block;
  padding: 18px 0;
}

header {
  background: #552dff;
}
.logo a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
}

/* top player part start  */
.single-player {
  display: flex;
  align-items: center;
}
.single-player img {
  width: 70px;
  margin-right: 15px;
}

/* top blog start  */

#top-blog .container {
  border-radius: 0 0 15px 15px;
}
.single-blog {
  display: flex;
}
#top-blog .row {
  grid-template-columns: repeat(2, 1fr);
}
.single-blog .blog-img {
  width: 377px;
}

.blog-content {
  margin-left: 15px;
  padding: 16px 0;
}
.blog-content h3 {
  margin-bottom: 15px;
}
.blog-content h4 {
  font-size: 19px;
  color: blue;
  font-weight: 500;
}
.blog-content h4 span {
  color: gray;
  padding-right: 7px;
}
#top-player .row {
  position: relative;
}
#top-player .row:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #80808057;
}

#top-player .container {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* latest course start  */
#latest-course {
  padding-top: 30px;
}
.single-course .course-content h3 {
  padding-right: 20px;
  margin: 10px 0;
}
.single-course .course-content h5 {
  font-size: 19px;
  color: #ed6b4f;
  font-weight: 500;
}
.review {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 18px;
  align-items: center;
}
.single-course {
  padding: 27px 15px;
  border-radius: 19px;
  box-shadow: 0px 0px 17px #00000030;
}
.stars span {
  margin-left: 13px;
}
.durations {
  background: #ff000038;
  color: red;
  padding: 10px;
  border-radius: 20px;
}
.stars i {
  color: orange;
}
.not-start:before {
  color: gray;
}

.single-player h3 {
  font-size: 18px;
}

/* Large devices == desktops, less than 1200px */
@media (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
  h3 {
    font-size: 21px;
  }
  .single-blog .blog-img {
    width: 330px;
  }
  .single-course .course-content h5 {
    font-size: 16px;
  }
  .durations {
    padding: 10px 15px;
    font-size: 14px;
  }
  .review {
    font-size: 15px;
  }
}

/* Medium devices == tablets, less than 992px */
@media (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
  .single-blog {
    flex-direction: column;
  }
  .latest-course .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  Small devices == landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .container {
    max-width: 578px;
  }
  #top-blog .row,
  .latest-course .row {
    grid-template-columns: repeat(1, 1fr);
  }
  #top-player .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-blog .blog-img {
    width: 100%;
  }
}

/*  Extra Small devices == landscape phones, less than 575px */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  section {
    padding: 0 30px;
  }
  header .container {
    padding: 0 30px;
    flex-direction: column;
  }
  .single-player {
    flex-direction: column;
  }
  .single-player img {
    margin-bottom: 15px;
  }
}

/*  Extra Extra Small devices == landscape phones, less than 405px */
@media (max-width: 400px) {
  nav li:last-child {
    display: none;
  }
  nav ul li {
    margin: 0 25px;
  }
  .logo img {
    width: 43px;
    margin-right: 20px;
  }
  .logo {
    margin-top: 15px;
  }
  .logo img {
    margin-right: 8px;
  }
  #top-player .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-title {
    text-align: center;
  }
  .section-title {
    font-size: 28px;
  }
  .review {
    flex-direction: column;
    align-items: flex-start;
  }
  .stars {
    margin: 15px 0;
  }
}
